/*
 EXTRA
*/
.bg-orange_2{
  background-color: #feead9;
}
.bc-red{
  border-color: red;
}
.pull-right{
  float: right;
}
.mt-2{
  margin-top: -12px;
}

a.link:focus, button:focus{
  outline: 0;
}
/*
TYPHOGRAPHY
*/
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}